
html {
  background: linear-gradient(rgba($background-overlay, 0.30), rgba($background-overlay, 0.30)),url(../img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  opacity: .8;
}
.nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  height: 100px;
  width: 100vw;
  background-color: black;
  opacity: .8;
  border-radius: 4px;

  a {
    display: flex;
    align-self: center;
    text-decoration: none;
    color: white;
    border: 2px solid red;

    h1 {
      flex: 2;
      align-self: center;
      font-style: tahoma;
      font-size: 52px;
      color: white;
      font: $tahoma;
    }
    p{
      flex: 1;
      align-content: flex-end;
      color: white;
      font: $tahoma;
      font-size: 28px;
      padding: 0 10px;

    }
  }
}
