//color variables //
$off-green: #C9C47E;

//Function color variables //

$background-overlay: $off-green;

//Media query breakpoints

$brk-narrow: "(max-width: 768px)";
$brk-wide: "(max-width: 1024px)";


//fonts //
$tahoma: tahoma, Helvetica, Arial, sans-serif;
